In [7]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, Binarizer

from sklearn.pipeline import Pipeline

from feature_engine.imputation import(
    AddMissingIndicator,
    MeanMedianImputer,
    CategoricalImputer
)

from feature_engine.encoding import (
    RareLabelEncoder,
    OrdinalEncoder
)

from feature_engine.transformation import LogTransformer

from feature_engine.selection import DropFeatures
from feature_engine.wrappers import SklearnTransformerWrapper

import joblib

In [1]:
import my_preprocessors as mypp

In [8]:
X_train = pd.read_csv("preprocess_data/prep_Xtrain.csv")
X_test = pd.read_csv("preprocess_data/prep_Xtest.csv")

In [9]:
X_train.head()

,punto llenado,codigoTramo,REGION,LONGITUDTRAMO,ANCHOTRAMO,AREAREGAR,DISTANCIALLENADO,FRECUENCIA,COMBINACIONPROPUESTA,CISTERNACAPACIDAD,...,VIAJES,KMSREGAR,KMSTRASLADO,KMSSUBTOTALES,SEMANA,COORDINADOR,CABEZAL,COMBINACION,TRANSPORTE,COMBINACION NUMERICA
0,3.0,606,5.0,7.75,12,0.065101,89.00,1,2,8000,...,0.037296,33.217,92.382,125.599,15.0,6.0,2.0,2.0,1.0,2
1,2.0,497,2.0,1.34,12,0.028852,2.15,2,2,8000,...,-0.996959,11.488,0.794,12.282,12.0,3.0,10.0,1.0,1.0,1
2,2.0,778,2.0,9.57,10,0.098153,36.00,2,2,8000,...,0.762207,68.370,77.148,145.518,9.0,3.0,5.0,2.0,1.0,2
3,14.0,627,6.0,3.97,8,0.079628,10.50,4,1,8000,...,1.204173,45.388,35.007,80.395,6.0,1.0,8.0,2.0,1.0,2
4,2.0,511,2.0,1.60,12,0.018416,0.99,1,2,4000,...,-0.805197,6.858,0.443,7.301,7.0,3.0,6.0,2.0,1.0,2

In [10]:
y_train = pd.read_csv("preprocess_data/prep_train.csv")